*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.choice{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}


.choices{
    display: flex;
    justify-content: center;
    align-items: center;
   gap:50px;
   margin-top: 80px;
   

}

.choice:hover{
    background-color:grey;
    transform: scale(0.9);
    transition: ease-in-out;
  
    cursor: pointer;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 50px;
    gap: 50px;
    
}

#comp-score{
    font-size: 5rem;
}
#User-score{
    font-size: 5rem;
}
.msg-container {
    margin-top: 5rem;
  }
  

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}